@import 'variables';

@mixin dark-mode-styles {
  color: $foreground-dark-mode;
  background: $background-dark-mode;

  header {
    .name-and-subtitle .site-title {
      color: $foreground-dark-mode;
    }
  }

  header, footer {
    border-color: $foreground-dark-mode;
  }

  a {
    color: #84b4ff;

    &:hover, &:active, &:focus {
      color: lighten(#84b4ff, 10%);
    }

    &.disabled {
      text-decoration: none;
      color: gray;
    }
  }

  a.btn {
    background-color: $foreground-dark-mode;
    color: $background-dark-mode;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;

    &:hover, &:active, &:focus {
      background-color: #fff;
      color: #000;
    }
  }

  .admonition  a {
    color: lighten(#84b4ff, 10%);

    &:hover, &:active, &:focus {
      color: lighten(#84b4ff, 20%);
    }
  }

  img {
    opacity: 0.7;

    &:hover, &:active, &:focus {
      opacity: 1;
    }
  }

  main *:not(pre) > code,
  kbd,
  tt {
    background-color: #ffffff18;
  }

  figure {
    background-color: #ffffff18;
  }

  .admonition {
    border: 1px solid $admonition-note-color-dark-theme;
    color: $admonition-note-color-dark-theme;
    background-color: $admonition-note-bg-color-dark-theme;
  }

  details.youtube-expander > summary,
  details.portfolio-item > summary {
    background-color: #202020;
  }
}